<div class="animated fadeInDown">
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="logo">
						<h1><a href="/home">Big Bang <span class="color">ASQ</span></a></h1>
						<div class="hmeta">Perfect CSQE Virtual Exam & Practice Website</div>
					</div>
				</div>
				<div style="text-align: right" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">

					<br>
					<!-- Modified for ASQ Upgrade 2.0.Added last name for welcome message. -->
					<h4>Welcome, {{currentUser.firstName}},{{currentUser.lastName}}</h4>
					<span class="color customLink"><a href="/home">Home</a></span> |
					<span class="color customLink"><a href="" ng-click="logout()">Logout</a></span>

				</div>
			</div>
		</div>
	</header>

	<div class="content">
		<div class="container">
			<!-- Content -->
			<hr>
			<h4 style="color: #5BC0DE;">Our Tutor:</h4>
			<p style="padding: 0 50px; font-size: 16px;">Roxana has over 6 years of experience as software quality engineer and project manager, which she obtained by driving software project and program improvements with worldwide leading car manufacturers. She has her own consulting business, serves on the ASQ Silicon Valley Leadership Team and recently joined a start-up venture that develops an Intelligent Transportation System.</p>

			<h4 style="color: #5BC0DE;">About Us:</h4>
			<p style="padding: 0 50px; font-size: 16px;">
				Welcome to Big Bang ASQ Exam Prep! We are excited that you are embarking in the journey of becoming an ASQ professional. Big Bang is dedicated to helping quality professionals achieve their career goals. We believe "Practice makes Perfect" so please make use of the sample tests provided by Quality Council of Indiana and by Linda Westfall. Also, track your progress and see your knowledge increase as you practice! We believe you will find this website useful in your exam preparation. If you have any recommendations on how to improve it, please contact us at <a href="">bigbangASQ@itu.edu</a>.
			</p>
			<p style="padding: 0 50px; font-size: 16px;">
				Big Bang ASQ Exam Prep was formed out of a graduate university program at International Technological University in San Jose, CA under the guidance of Prof. Rhode.
			</p>
			<p style="padding: 0 50px; font-size: 16px;">For information about ITU, visit: <a href=">http://itu.edu" target="_blank">http://itu.edu</a></p>
			<p style="padding: 0 50px; font-size: 16px;">For information about ASQ, visit: <a href="http://asq.org/index.aspx" target="_blank">http://asq.org/index.aspx</a></p>
			<p style="padding: 0 50px; font-size: 16px;">For information about the Quality Council of Indiana, visit: <a href="http://www.qualitycouncil.com" target="_blank">http://www.qualitycouncil.com</a></p>
			<p style="padding: 0 50px; font-size: 16px;">For information about Linda Westfall, visit: <a href="http://www.westfallteam.com" target="_blank">http://www.westfallteam.com</a></p>
			<br>
			<div style="text-align: left;padding: 0 50px; font-size: 15px;">
				The questions were provided by Quality Council of Indiana and by Linda Westfall.ASQ has not participated in the creation of this self-assessment test and has not reviewed it for correctness.
				This test is for self-assessment only and no guaranty is given for passing the ASQ exam.Some of the names of companies and their products listed and linked to on this page are marks which are registered in various countries.
				For questions or concerns, contact us at <a href="">bigbangASQ@itu.edu</a><br>
			</div>
			<h4 style="text-decoration: underline; color: #5BC0DE; text-align: center; font-weight: bold; margin: 30px;">Meet the Team</h4>
		    <div style=" float:left;width: 598px; height: 20px; position: relative; "><b style="color:#5BC0DE;font-size: 14px;">Initial Development Team</b></div>
			<div style=" float:left;width: 498px; height: 20px; position: relative; "><b style="color:#5BC0DE;font-size: 14px;">Upgrade Development Team</b></div>
			<div style=" float:left;width: 598px; height: 500px; position: relative; background: url(../img/bigbangteam.jpg) no-repeat; background-size: 498px 500px;"></div>
			<div style=" float:left;width: 498px; height: 500px; position: relative; background: url(../img/team.jpg) no-repeat; background-size: 498px 500px;"></div>
			<div style="display:inline-block;width: 498px;"></div>
			<br/>
			
			<hr>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center" class="copy">
						<h5>SWE-600 Video Recording Portal</h5>
						<p>&copy; <a href="#">2016 International Technological University</a></p>
						<p>Under the Guidance of Professor <a href="https://www.linkedin.com/in/mobility" target="_blank">Mamoun Abu-Samaha</a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>