<div class="animated fadeInDown">
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="logo">
						<h3><a href="/home">SWE-600 Recording Portal</a></h3>
						<div class="hmeta">Perfect portal for Video Recording and Upload</div>
					</div>
				</div>
				<div style="text-align: right" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">

					<br>
					<!-- Modified for ASQ Upgrade 2.0.Added last name for welcome message. -->
					<h4>Welcome, {{currentUser.firstName}},{{currentUser.lastName}}</h4>
					<span class="color customLink"><a href="/home">Home</a></span> |
					<span class="color customLink"><a href="" ng-click="logout()">Logout</a></span>

				</div>
			</div>
		</div>
	</header>

	<div class="content">
		<div class="container">
			<!-- Content -->
			<hr>
			<h4 style="color: #5BC0DE;">Our Tutor:</h4>
			<p style="padding: 0 50px; font-size: 16px;">Roxana has over 6 years of experience as software quality engineer and project manager, which she obtained by driving software project and program improvements with worldwide leading car manufacturers. She has her own consulting business, serves on the ASQ Silicon Valley Leadership Team and recently joined a start-up venture that develops an Intelligent Transportation System.</p>

			<h4 style="color: #5BC0DE;">About Us:</h4>
			<p style="padding: 0 50px; font-size: 16px;">
				Welcome to Advanced Software Engineering course portal! We are excited that you are embarking in the journey of becoming an Advanced Software Professional. This portral is designed and developed for course project. We believe "Practice makes Perfect" so please make use of the code developed by Srinivas Thungathurti. If you have any recommendations on how to improve it, please contact us at <a href="mailto:89589.thungathurti@students.itu.edu">Srinivas Thungathurti</a>.
			</p>
			<p style="padding: 0 50px; font-size: 16px;">
				This portal was formed out of a graduate university program at International Technological University (ITU) in San Jose, CA under the guidance of Prof. Mamoun Abu-Samaha.
			</p>
			<br/>
			<p style="padding: 0 50px; font-size: 16px;">For information about ITU, visit: <a href=">http://itu.edu" target="_blank">http://itu.edu</a></p>
			<p style="padding: 0 50px; font-size: 16px;">For more information about the advanced software engineering, visit: <a href="http://www.cse.msu.edu/~cse870/Lectures/Notes/01-SE-Intro-notes.pdf" target="_blank">http://www.cse.msu.edu/~cse870/Lectures/</a></p>
			<br>
			<hr/>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center" class="copy">
						<h5>SWE-600 Video Recording Portal</h5>
						<p>&copy; <a href="#">2016 International Technological University</a></p>
						<p>Under the Guidance of Professor <a href="https://www.linkedin.com/in/mobility" target="_blank">Mamoun Abu-Samaha</a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>