<div class="animated fadeInDown">
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="logo">
						<h3><a href="/home">SWE-600 Recording Portal</a></h3>
						<div class="hmeta">Perfect portal for Video Recording and Upload</div>
					</div>
				</div>
				<div style="text-align: right" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">

					<br>
					<!-- Modified for ASQ Upgrade 2.0.Added last name for welcome message. -->
					<h4>Welcome, {{currentUser.firstName}},{{currentUser.lastName}}</h4>
					<span class="color customLink"><a href="/home">Home</a></span> |
					<span class="color customLink" ng-if="currentUser.authType=='local'"><a href="/changePassword">Change Password</a> |</span>
					<span class="color customLink"><a href="/record">Video Record</a></span> |
					<span class="color customLink"><a href="/list">Videos List</a></span> |
					<span class="color customLink" ng-if="currentUser.authType == 'local'"><a href="" ng-click="logout()">Logout</a></span>
					<p style="display:inline;" ng-if="currentUser.authType != 'local'"><span class="color customLink"><a href="" ng-click="logout()">Logout({{currentUser.authType}})</a></span></p>
				</div>
			</div>
		</div>
	</header>

	<div class="content">
		<div class="container">
			<!-- Content -->
			<hr>
			<h4 style="color: #5BC0DE;">Our Tutor:</h4>
			<p style="padding: 0 50px; font-size: 16px;"><strong>Mamoun Abu-Samaha</strong> has over 20 years of experience as a architect, CTO Evangelist in Mobility, Wireless Chief of Technologies and Solutions Architect.He is well known for leading key advancement in Enterprise technologies, theories, and techniques essential to accomplishing continuing business objectives, most notably in mobility, synchronization and consumerization of IT, home networking, enterprise cost reduction and mobile risk management. He also has Extensive background Program Management and in architecting and development of software applications, web services, Mobility, Wireless and IT Solutions.</p>
			<p style="padding: 0 50px; font-size: 16px;">Currently working as <strong>Chief Executive Officer (CEO) and Chief Strategy Officer (CSO) </strong> for Mobility & Wireless company in Sillycon Valley.</p>

			<h4 style="color: #5BC0DE;">About Us:</h4>
			<p style="padding: 0 50px; font-size: 16px;">
				Welcome to Advanced Software Engineering course portal! We are excited that you are embarking in the journey of becoming an Advanced Software Professional. This portral is designed and developed for the advanced software engineering course project at ITU. We believe "Practice makes Perfect", so please make to use the code developed for this project (by Srinivas Thungathurti) for your practice. If you have any recommendations on how to improve it, please contact me at <a href="mailto:89589.thungathurti@students.itu.edu"><strong>Srinivas Thungathurti</strong></a>.
			</p>
			<p style="padding: 0 50px; font-size: 16px;">
				This portal was formed out of a graduate university program at International Technological University (ITU) in San Jose, CA under the guidance of Prof. Mamoun Abu-Samaha.
			</p>
			<br/>
			<p style="padding: 0 50px; font-size: 16px;">For information about ITU, please visit: <a href=">http://itu.edu" target="_blank"><strong>http://itu.edu</strong></a></p>
			<p style="padding: 0 50px; font-size: 16px;">For more information about the advanced software engineering information, please visit: <a href="http://www.cse.msu.edu/~cse870/Lectures/Notes/01-SE-Intro-notes.pdf" target="_blank"><strong>http://www.cse.msu.edu/~cse870/Lectures/</strong></a></p>
			<br>
			<hr/>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center" class="copy">
						<h5 class="space_line">SWE-600 Video Recording Portal</h5>
						<p class="space_line">&copy; <a href="#">2016 International Technological University</a></p>
						<p class="space_line">Developed by <strong>Srinivas Thungathurti (89589)</strong> Under the Guidance of Professor <a href="https://www.linkedin.com/in/mobility" target="_blank"><strong>Mamoun Abu-Samaha</strong></a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>