<div class="animated fadeInDown">
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="logo">
						<h3><a href="/home">SWE-600 Recording Portal</a></h3>
						<div class="hmeta">Perfect portal for Video Recording and Upload</div>
					</div>
				</div>
				<div style="text-align: right" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">

					<br>
					<!-- Modified for ASQ Upgrade 2.0.Added last name for welcome message. -->
					<h4>Welcome, {{currentUser.firstName}},{{currentUser.lastName}}</h4>
					<span class="color customLink"><a href="/home">Home</a></span> |
					<span class="color customLink"><a href="/record">Video Record</a></span> |
					<span class="color customLink"><a href="/about">About Project</a></span> |
					<span class="color customLink"><a href="" ng-click="logout()">Logout</a></span>

				</div>
			</div>
		</div>
	</header>

	<div class="content">
		<div class="container">
			<!-- Content -->
			<hr>
			<h4 style="color: #5BC0DE;">List of Videos Recorded:</h4>
			<p style="padding: 0 50px; font-size: 16px;"></p>
			<br>
			<hr/>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center" class="copy">
						<h5>SWE-600 Video Recording Portal</h5>
						<p>&copy; <a href="#">2016 International Technological University</a></p>
						<p>Developed by <strong>Srinivas Thungathurti (89589)</strong> Under the Guidance of Professor <a href="https://www.linkedin.com/in/mobility" target="_blank"><strong>Mamoun Abu-Samaha</strong></a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>