<ng-form name="videosForm">
<div class="animated fadeInDown">
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="logo">
						<h3><a href="/home">SWE-600 Recording Portal</a></h3>
						<div class="hmeta">Perfect portal for Video Recording and Upload</div>
					</div>
				</div>
				<div style="text-align: right" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">

					<br>
					<!-- Modified for ASQ Upgrade 2.0.Added last name for welcome message. -->
					<h4>Welcome, {{currentUser.firstName}},{{currentUser.lastName}}</h4>
					<span class="color customLink"><a href="/home">Home</a></span> |
					<span class="color customLink" ng-if="currentUser.authType=='local'"><a href="/changePassword">Change Password</a> |</span>
					<span class="color customLink"><a href="/record">Video Record</a></span> |
					<span class="color customLink"><a href="/about">About Project</a></span> |
					<span class="color customLink" ng-if="currentUser.authType == 'local'"><a href="" ng-click="logout()">Logout</a></span>
					<p style="display:inline;" ng-if="currentUser.authType != 'local'"><span class="color customLink"><a href="" ng-click="logout()">Logout({{currentUser.authType}})</a></span></p>
				</div>
			</div>
		</div>
	</header>

	<div class="content">
		<div class="container">
			<!-- Content -->
			<hr>
			<h4 style="color: #5BC0DE;">List of Videos Recorded:</h4>
			<p style="padding: 0 50px; font-size: 16px;"></p>
			<br>
			<div  style="border:2px solid #5BC0DE;width:1080px;" ng-show="allVideos.length >= 0" data-ng-init="listVideos()">
			<table class="table table-striped">
				<thead>
				<tr style="background-color:#D3D3D3">
					<!--<th>Number #</th>-->
					<th>Name</th>
					<th>Video Size</th>
					<th>Content Type</th>
					<th>Date Created</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="video in partialVideos">
					<td>{{video.filename}}</td>
					<td>{{video.chunkSize}} KB</td>
					<td>{{video.contentType}}</td>
					<td>{{video.uploadDate}}</td>
					<td><button  class="btn btn-info" ng-click="viewStream(video)">
					<span class="glyphicon glyphicon-eye-open"></span>Stream 
					</button>
					<button  class="btn btn-warning" ng-click="delStream(video)">
					<span class="glyphicon glyphicon-remove-sign"></span>Delete 
					</button></td>
				</tr>
				<tr ng-show="allVideos.length <= 0">
				<td colspan="6" align="center"><h4 style="color:red">No Recorded Videos Found.</h4></td>
				</tr>
				</tbody>
			</table>
			<table class="table" style="margin-bottom:0px">
			<tbody>
			<tr ng-show="partialVideos.length > 0">
				<td></td><td></td><td></td><td></td><td></td>
				<td align="right">
				    <pagination 
				      ng-model="currentPage"
				      total-items="allVideos.length"
				      max-size="maxSize"  
				      boundary-links="true">
				    </pagination>
				</td>
				</tr>
			</tbody>
			</table>
			</div>
			<hr/>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center" class="copy">
						<h5 class="space_line">SWE-600 Video Recording Portal</h5>
						<p class="space_line">&copy; <a href="#">2016 International Technological University</a></p>
						<p class="space_line">Developed by <strong>Srinivas Thungathurti (89589)</strong> Under the Guidance of Professor <a href="https://www.linkedin.com/in/mobility" target="_blank"><strong>Mamoun Abu-Samaha</strong></a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>
</ng-form>